body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}


#profile-card{
	border: 5px black solid;
	display: flexbox;
	margin-top: 30px;
}
#title-profile{
	display: flex;
	justify-content: center;
}
/* make sure you change other image tags id  */
#profile-img{
	height: 200px;
	border-radius: 200px;
}
#profile-contact{
	display: flexbox;
	position: relative;
	text-align: center;
	top: 30px;
}

#profile-left{
	display: flex;
	justify-content: space-evenly;
	
}

#about{
	display: flexbox;
	width: 200px;
}

#skills{
	display: flexbox;
}

#profile-right{
	display: flex;
	justify-content:space-evenly;

}

#footer{
	display: flexbox;
	text-align: center;
	justify-content: space-evenly;

}

.techCompany{
	color: brown;
	font-size: x-large;
	font-weight: 700;
}


.yellow{
	background-color: yellow;
	width: 200px;
	height: 100px;
	/* border-radius: 75px;  */
}


#east-mark{

}

#header-extra{
	display: flexbox;
	justify-content: center;
}

#rec{
	display: flex;
	justify-content: center;
}


.links{
	display: inline-block;
	width: 100px;
	justify-content: center;
	position: relative;
	left: 147px;

}

#h1-extra{
	text-align: center;
	
}